.gallery {
    margin: 24px auto;
    width: 1128px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;

}

.gallery-item {
    flex-basis: calc((100% - 48px) / 3);
    overflow: hidden;
}

.gallery-link {
    cursor: url("../images/bxs_hand-down.png"), auto;
}

.gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center
}

.sl-overlay {
    background: rgb(46, 47, 66) !important;
}

.sl-counter,
.sl-prev,
.sl-next,
.sl-close {
    color: #fff !important;
}