.form {
    display: flex;
    flex-direction: column;
    width: 360px;
    margin-left: 156px;
}
.label-delay {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 24px;
}
.input-delay {
    border: 1px solid #808080;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 16px;
    color: #2e2f42;
    height: 40px;
    outline: none;
}
.input-delay:hover {
    border-color: #000;
}
.input-delay:active,
.input-delay:focus {
    border-color: #4e75ff;
}
.fieldset-state {
    border-radius: 4px;
    border: 1px solid #808080;
    display: flex;
    justify-content: space-around;
    padding: 14px 28px 8px 28px ;
    margin: 0;
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;

}
.fieldset-state:hover,
.fieldset-state.active {
    border-color: #000;
}
.label-state {
    font-size: 16px;
    line-height: 1.5;
    color: #2e2f42;
}
.input-state {
    transform: scale(1.54);
    padding: 0;
    margin: 0;
    margin-right: 14px;
}
.form-button {
    font-family: inherit;
    border-radius: 8px;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    background: #4e75ff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
}
.form-button:hover {
    background: #6c8cff;
}
.iziToast>.iziToast-body {
    font-family: "Montserrat", sans-serif !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 1.5 !important;
    letter-spacing: 0.03em !important;
    margin: 0 !important;
    margin-left: 20px !important;

}

.iziToast {
    padding: 14px 60px 14px 0 !important;
    margin-right: 156px !important;
}